@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.clearFix
{
    content: '';
    display: table;
    clear: both;
}
.rowView {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.columnView {
    padding-top: 30px;
    padding-bottom: 30px;

    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
    
    color: #d190fc;
    background-color: #1E0C36;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/b2829c29329691.55ee1317c58f1.jpg);
    background-blend-mode: luminosity;
    
    text-shadow: 4px 4px 4px black;
    text-align: justify;
    width: 25%;
    background-size: cover;

    filter: grayscale(30%);
    filter: brightness(.5);
    transition: filter 0.5s ease-in;
}


.columnView:hover{
    filter: grayscale(0);
    filter: brightness(1);
}

.columnView h2 {
    display: table-cell;
    width: 50px;
    height: 50px;
    border: solid #d190fc 5px;
    text-align: center;
    margin: 10px;
    font-size: 26px;
    text-transform: uppercase;
    vertical-align: middle;
}

.boxAdobe
{
    padding-bottom: 4px;
    padding-left: 30px;
}


.columnView p {

    padding: 4px 30px;

}

#overlay {
    height: 100%;
    width: 100%;
    background-color: white;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #F1693B;
}

::selection {
    color: white;
    background: #F1693B;
}

body {
    overflow-x: hidden;
}



.center {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgba(241, 105, 59, .9);
    position: fixed;
    width: 100%;
}

.v-header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 1;
    color: #fff;
}

.container {
    margin: auto;
    text-align: center;
    background-color: black;
}

.fullscreen-video-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(85, 16, 16, 0.5), rgb(44, 42, 148));
    background-color: rgb(13, 10, 39);
    position: relative;
    overflow: hidden;
}

.fullscreen-video-wrap h3 {
    position: absolute;
    z-index: 9; 
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

/* .fullscreen-video-wrap h3 span {

    color: #F1693B;

} 
*/



.fullscreen-video-wrap iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    
}




.fullscreen-video-wrap video {
    
    /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #F1693B;
    background: linear-gradient(-65deg, red, rgb(37, 40, 231), #F1693B);
    opacity: .30;
    position: absolute;
    z-index: 1;
}


.box-wrapper {
    margin: 0 6%;
    
}

.box0 {
    margin: 0 0%;
}

.box-wrapper h3 {
    color: #F1693B;
    padding: 10px 0;
    text-transform: uppercase;
}

.box-wrapper h4 {
    color: #F1693B;
    padding: 10px 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}


.box-wrapper p {
    color: rgb(37, 37, 37);
}

.box-wrapper ul li {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
}

.box-wrapper ul li a {
    color: rgb(44, 44, 44);
    text-transform: capitalize;
    text-decoration: none;
}

.box-wrapper ul li a:hover {
    color: #F1693B;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: calc(25% - 4*4px);
    max-width: calc(25% - 4*4px);
    padding: 0 4px;

    perspective: 400vw;
    
}

.column img {
    position: relative;
    transform: translate3d(0,0,0);
    border: none;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    -webkit-filter: grayscale(90%) blur(1.0px);
    -moz-filter: grayscale(90%) blur(1.0px);
    -ms-filter: grayscale(90%) blur(1.0px);
    -o-filter: grayscale(90%) blur(1.0px);
    filter: grayscale(90%) blur(1.0px);
    filter: gray;
    z-index: 0;
    opacity: 0.3;
    transition: transform .7s, filter .7s, opacity .7s;
    position: relative;
    background: red;
    
    
    
}


.column img:hover {
    
    transition: transform .3s, filter .3s, opacity .3s;
    /* Animation */
    
    transform: scale3d(1.1,1.1,1);
    -webkit-filter: grayscale(0%) blur(0px);
    -moz-filter: grayscale(0%) blur(0px);
    -ms-filter: grayscale(0%) blur(0px);
    -o-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px) ;
    filter: none;
    z-index: 1;
    opacity: 1;
    /* border: solid 2px rgba(241, 105, 59, .5); */

    
}

.halfText {
    column-count: 2;
    text-align: justify;

}



halfText p {
    vertical-align: middle;
    margin-top: 8px;

}



.columnText {
    float: left;
    padding: 0 8px;
    width: calc(50% - 16px);
    text-align: justify;
    
}


.columnText p a {
    color: #F1693B;
    text-decoration: none;
}

/* Clear floats after the columns */

.rowText:after {
    content: "";
    display: table;
    clear: both;

}

@media screen and (max-width: 1229px) {
    .column {
        transition: transform .5s;
        flex: calc(33% - 4*3px);
        max-width: calc(33% - 4*3px);
    }
    .columnText {
        width: 100%;
    }
    .halfText {
        column-count: 1;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 1320px) {
    .column {
        transition: .5s;
        flex: calc(50% - 4*2px);
        max-width: calc(50% - 4*2px);
    }
    .columnView {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .column {
        transition: .5s;
        max-width: 100%;
        flex: 100%;
    }
    .columnView {
        width: 100%;
    }

    

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clearfix:before,
.clearfix:after
{
    content: ' ';
    display: block;

}

.clearfix:before,
.clearfix:after
{
    content: ' ';
    display: block;

}
.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}

#logo
{
    position: absolute;
    top: 50%;
    left: 5%;

    float: left;
}

.logo-animation
{
    
    animation-name: slide;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;

    transition: 550ms;
}

@media only screen and (max-width: 326px)
{
    #logo{
        float: none !important;
        display: none;
    }
    .navbar
    {
        float: none !important;
    }

    .container
    {
        clear: both;
    }
}

.navbar
{
    position: relative;
    z-index: 5;
    float: right;
    
    margin-right: 5%;
    top:50%;
    transform: translateY(-50%);

}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navbar ul li
{
    display: inline-block;
    margin-left: 15px;
}

.navbar ul li:hover
{
    cursor: pointer;
}



.navbar ul li a
{
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 250ms ease-in;
}

.navbar ul li a:hover
{
    color: rgb(201, 201, 201);
}

.navbar ul li a:active
{
    color: rgb(122, 122, 122);
}


.containerNav
{
    border-bottom: 1px solid white;
    height: 12.5vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.0),rgb(0, 0, 0, 0.15));
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 8;
    overflow: hidden;

}


.containerNav p
{
    margin-left: 9%;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}


.wrapperBottom
{
    position: absolute;
    z-index: 8;
    width: 100%;
    top: 87.5vh;
    height: 12.5vh;
    border-top: 1px solid white;
    background-image: linear-gradient(rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0.0));
    background-color: rgba(0,0,0,0.45);
}

.title {
    margin: 30px 0 7px 0;
}

.social-media
{
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    margin-left: 5%;
    /* float: left; */
    position: relative;
}


#video-button {
    float: right;
    right: 5%;
    cursor: pointer;
    transition: background-color .25s ease-in;
}


#video-button:hover{
    color: rgba(255, 255, 255, 0.7);
}

#video-button:active
{
    color: rgba(255, 255, 255, 0.5);
}
 /* Style all font awesome icons */
 .fa {
    position: relative;
    background: transparent;
    border: transparent;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);

    cursor: pointer;
    transition: /*background-color*/ color .25s ease-in;
}


/* Add a hover effect if you want */
/* .fa:hover {
    opacity: 0.7;
} */

/* Set a specific color for each brand */

/* Facebook */


.fa-facebook:hover {
    color: rgba(255, 255, 255, 0.7);

    /* background-color: rgba(18, 29, 131, 0.3); */
}

.fa-linkedin:hover {
    /* background-color: rgba(0, 119, 181, 0.3); */
    color: rgba(255, 255, 255, 0.7);

}

.fa-github:hover {
    /* background-color: rgba(110, 84, 148, 0.3); */
    color: rgba(255, 255, 255, 0.7);

}

.fa-skype:hover {
    /* background-color: rgba(0,175,240, 0.3); */
    color: rgba(255, 255, 255, 0.7);

}

@keyframes slide
{
    0% {left:-60px; transform: translate(0, -50%) rotate(50deg);}
    100% {transform: translate(0%,-50%) rotate(360deg);}
}
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 5%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    top: -50px;
    left: -18px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltiptext:after { 
    content: ''; 
    position: absolute; 
    bottom: 0; left: 50%; 
    width: 0; height: 0; 
    border: 6px solid transparent; 
    border-top-color: rgb(0, 0, 0, 0.9); 
    border-bottom: 0; border-left: 0; 
    margin-left: -3px; 
    margin-bottom: -5px; 
}

.middle
{
    width: 510px;
    margin: auto;
}
.rows
{
   display: flex;
   font-size: 0;
   position: relative      ;
   right: 50%;
   transform: translateX(50%);
}

.columns
{
    font-size: 16px;
    padding: 7px;
    width: 33%;
    display: inline-block;
}

.bullets
{
    padding: 0;
    cursor: unset;
}
