@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #F1693B;
}

::selection {
    color: white;
    background: #F1693B;
}

body {
    overflow-x: hidden;
}

h3 {
    margin: 30px 0 7px 0;
}

.center {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgba(241, 105, 59, .9);
    position: fixed;
    width: 100%;
}

.v-header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen-video-wrap iframe {
    min-width: 100%;
    min-height: 100%;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #F1693B;
    background: linear-gradient(-65deg, red, rgb(37, 40, 231), #F1693B);
    opacity: .30;
    position: absolute;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 30px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.box {
    margin: 0 6%;
}

.box h3 {
    color: #F1693B;
    padding: 10px 0;
    text-transform: uppercase;
}

.box p {
    color: darkslategray;
}

.box ul li {
    list-style-position: inside;
    list-style-type: square;
}

.box ul li a {
    color: darkslategray;
    text-transform: capitalize;
    text-decoration: none;
}

.box ul li a:hover {
    color: #F1693B;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: calc(25% - 4*4px);
    max-width: calc(25% - 4*4px);
    padding: 0 4px;
}

.column img {
    transition: 0.75s;
    border: none;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    -webkit-filter: grayscale(90%) blur(1.5px);
    -moz-filter: grayscale(90%) blur(1.5px);
    -ms-filter: grayscale(90%) blur(1.5px);
    -o-filter: grayscale(90%) blur(1.5px);
    filter: grayscale(90%) blur(1.5px);
    filter: gray;
}

.column img:hover {
    transition: transform .3s, filter .3s;
    /* Animation */
    transform: scale(1.1);
    -webkit-filter: grayscale(0%) blur(0px);
    -moz-filter: grayscale(0%) blur(0px);
    -ms-filter: grayscale(0%) blur(0px);
    -o-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px);
    filter: none;
    border: solid 2px rgba(241, 105, 59, .5);
}

.halfText {
    column-count: 2;
}

halfText p {
    vertical-align: middle;
    margin-top: 8px;
}

.columnText {
    float: left;
    padding: 0 8px;
    width: calc(50% - 16px);
}

.columnText p a {
    color: #F1693B;
    text-decoration: none;
}

/* Clear floats after the columns */

.rowText:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
    .column {
        transition: transform .5s;
        flex: calc(33% - 4*3px);
        ;
        max-width: calc(33% - 4*3px);
        ;
    }
    .columnText {
        width: 100%;
    }
    .halfText {
        column-count: 1;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        transition: .5s;
        flex: calc(50% - 4*2px);
        ;
        max-width: calc(50% - 4*2px);
        ;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        transition: .5s;
        flex: 100%;
        max-width: 100%;
        padding: 0 0;
    }
}